---

---
<h1 style="color: white; font-size: 24px; margin-left: 40px;">
    <svg class="skills-icons" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-world"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" /><path d="M3.6 9h16.8" /><path d="M3.6 15h16.8" /><path d="M11.5 3a17 17 0 0 0 0 18" /><path d="M12.5 3a17 17 0 0 1 0 18" /></svg>
    Skills
</h1>
<p style="color: #007bff;;
font-size: 14px;
margin-left: 40px;
">
    Estos son los lenguajes con los cuales trabajo.
</p>
<div class="skills">
    <div class="html">
        <svg class="icono-html" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-html5">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M20 4l-2 14.5l-6 2l-6 -2l-2 -14.5z" />
            <path d="M15.5 8h-7l.5 4h6l-.5 3.5l-2.5 .75l-2.5 -.75l-.1 -.5" />
        </svg>
    <h1 class="h1-html">
        HTML
    </h1>
    </div>
    <div class="css">
    <h1 class="h1-css">
        <svg class="icono-css" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-css3">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M20 4l-2 14.5l-6 2l-6 -2l-2 -14.5z" />
            <path d="M8.5 8h7l-4.5 4h4l-.5 3.5l-2.5 .75l-2.5 -.75l-.1 -.5" />
        </svg>
    <h1 class="h1-css">
        CSS
    </h1>
    </div>
    <div class="types">
    <div class="icono-h1">
    <h1>
        <svg class="icono-types" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-typescript">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M15 17.5c.32 .32 .754 .5 1.207 .5h.543c.69 0 1.25 -.56 1.25 -1.25v-.25a1.5 1.5 0 0 0 -1.5 -1.5a1.5 1.5 0 0 1 -1.5 -1.5v-.25c0 -.69 .56 -1.25 1.25 -1.25h.543c.453 0 .887 .18 1.207 .5" />
            <path d="M9 12h4" />
            <path d="M11 12v6" />
            <path d="M21 19v-14a2 2 0 0 0 -2 -2h-14a2 2 0 0 0 -2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2 -2z" />
        </svg>
    <h1 class="h1-types">
        TYPESCRIPT
    </h1>
    </div>
</div>

<style>
/* Estilos generales */
.skills {
    display: flex;
    justify-content: space-around;
    margin-top: 45px;
    margin-left: 23px;
    color: aliceblue;
    margin-bottom: 45px;
}

/* Estilos para el contenedor de HTML */
.html, .css, .types {
    text-align: center;
    color: aliceblue;
}

/* Estilos para los iconos */
.iconos {
    margin-bottom: 10px;
    color: aliceblue;
}

/* Estilos para los títulos */
.h1-html, .h1-types {
    font-size: 20px;
    font-weight: bold;
    color: #333; /* Color del texto */
    color: aliceblue;
}
.h1-css{
    margin-bottom: 4px;
    font-weight: bold;

}

/* Estilos para el contenedor de Typescript */
.icono-html{
    margin-left: 15px;
}
.icono-css{
    margin-left: 5px;
}
.icono-types{
    margin-left: 45px;
}
.skills-icons{
    margin:-30px;
    margin-bottom: -1;
}


</style>