---
console.log("javascript")
---
<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6 text-white">
    <div class="mx-auto text-center mb-8 lg:mb-16">
        <h1 class="mb-4 text-5xl tracking-tight font-bold text-red">Hola Soy</h1>
        <h2 class="mb-4 text-5xl tracking-tight font-bold text-while">
            Daniel Cerritos 
        </h2>
        <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
            Desarrollador de Software inexperto con experiencia en HTML, CSS y algo de JAVASCRIPT
        </p>
    </div>
    <nav
    class="flex flex-col text-white items-center justify-between w-full tex-center md:flex-row">
    </nav>
</header>

